flask==2.3.3
Werkzeug==2.3.7
langchain
langchain_core
langchain_openai
langgraph
langsmith
openai==1.12.0
typing-extensions==4.9.0
uuid==1.30
gunicorn==21.2.0
python-dotenv==1.0.0
requests==2.31.0
jinja2==3.1.2
itsdangerous==2.1.2
click==8.1.7
